@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

html, body {
  background-color: white; /* or the light theme bg color */
  color: black; /* text color for light theme */
  min-height: 100%;
}